body {
    font-family: "Arial";
    font-color: #2e2e2e;
}

h1 {
    text-align: center;
}



.myButton {
	background-color:#a73f2d;
	border-radius:5px;
	border:1px solid #241d13;
	display:inline-block !important;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:11px;
	font-weight:bold;
	font-style:italic;
	padding:5px 16px;
	text-decoration:none;
	text-shadow:0px 1px 14px #7a2a1d;
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;
}

img
{
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    mask-type: alpha;
    -webkit-filter: drop-shadow(1px 1px 0 grey)
                    drop-shadow(-1px -1px 0 grey);
    filter: drop-shadow(1px 1px 0 grey) 
          drop-shadow(-1px -1px 0 grey);
            
}

.buttons-images-container {
	border-top: 1px solid black;
	margin: 10px 0;
	padding: 10px 0;
}

.alpha-mask {
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.beta-mask {
  filter: contrast(50%);
  opacity = 1;
  top: 0px;
  position:absolute;
  left: 0px;
  padding: 5px;
  mask-type: alpha;
}

.img-mask {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
   -webkit-filter: contrast(200%); /* Safari */
  filter: contrast(200%);	
}