<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login/Register</title>
</head>
<body>
<h1>Register</h1>
<form action="reg-post" method="post">
    <label for="reg_username">Username:</label>
    <input type="text" id="reg_username" name="reg_username">
    <br><br>
    <label for="reg_password">Password:</label>
    <input type="password" id="reg_password" name="reg_password">
    <br><br>
    <label for="reg_confirmpass">Confirm password:</label>
    <input type="password" id="reg_confirmpass" name="reg_confirmpass">
    <br><br>
    <button type="submit">Register!</button>
</form>
</body>
</html>