<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Party Queue</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/structures/socket-connector.js"></script>
    <script src="js/structures/room-configurer.js"></script>

</head>
<body>
    <div style="text-align: center;">
        <h1 id="title">Queue up for a game. Your name is </h1>
        <button id="proposer">Proposer</button>
        <button id="guesser">Guesser</button>
        <p id="msg-box">Please select your role.</p>
    </div>
    <script src="/js/page_inits/party-queue.js"></script>
</body>
</html>